<!doctype html>
<html>
  <head>
    <title>{{ global.title }}</title>
    <link rel="stylesheet" href="/css/theme.css">
  </head>
  <body>

    {% include "headline" %}
    {% include "button" %}
    
  </body>
</html>
